.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Standaard stijlen voor alle schermgroottes */
.PokerIconMob {
  display: flex;
  margin-right: 1rem;
}

/* Stijlen voor schermen groter dan 600px maar kleiner dan 960px (gemiddelde schermen) */
@media only screen and (min-width: 901px) {
  .PokerIconMob {
    display: none;
  }
}

/* Standaard stijlen voor alle schermgroottes */
.PokerIconDesk {
  display: flex;
  margin-right: 1rem;
}

/* Stijlen voor schermen kleiner dan 600px (extra kleine schermen) */
@media only screen and (max-width: 900px) {
  .PokerIconDesk {
    display: none;
  }
}
